:root {
    --primary-text-color: #091156;
    --secondary-text-color: #8B8B8B;
    --tertiary-text-color: #FF64AE;
    font-size: 16px;
    font-weight: 400;

    background: url('../images/slide-background.png');
    background-color: linear-gradient(144.02deg, #E4E7FF 31.27%, rgba(255, 255, 255, 0) 97.18%);
    background-size: 88%;
    background-repeat: no-repeat;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1140px;
    margin: auto;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none; 
}
.navbar {
    margin-top: 2.5625rem;
    padding-top: 0;
    display: flex;
    align-items: center;
}


.navbar img {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 16.125rem;
    justify-self: center;
    z-index: 2;
}

.navbar--options {
    margin-top: 0.15rem;
    margin-bottom: 0px;
    display: flex;
    column-gap: 3rem; 
    list-style: none; 
    align-self: start;
    align-items: center;
    margin-left: auto;
    color: var(--secondary-text-color)
}

.navbar--options li {
    letter-spacing: 0.1rem;
    transition: color 0.3s ease;
}
.navbar--options li:hover {
    color: var(--tertiary-text-color);
    cursor: pointer;
}

.navbar--options li:first-child {
    color: var(--primary-text-color);
    font-weight: 600;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: var(--primary-text-color);
    margin: 4px 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(6px, 10px);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -10px);
}

@media (max-width: 1200px) {
    .navbar--options {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 1;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .navbar--options.active {
        display: flex;
        padding-top: 6rem;
    }

    .navbar--options li {
        margin: 1rem 0;
    }

    .hamburger {
        display: flex;
        z-index: 3;
    }
}

.blurred {
    filter: blur(5px);
}

.btn {
    cursor: pointer;
    border-radius: 50px;
    padding: 0.875rem 2.5625rem;
    margin-top: 0.15rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    background-color: var(--tertiary-text-color);
    color: white;
    align-self: center;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 600;   
    letter-spacing: 0.1rem;
}

.hero {
    margin-top: 9.4rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    column-gap: 1.375rem;
    padding-left:2.4375rem;

}
.hero--content {
    max-width: 44%;
    padding-right: 1.375rem;
    margin-top: 3.3125rem;
}

.hero--title {
    color: var(--primary-text-color);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0rem;
    margin-top: 0rem;
    line-height: 3.75rem;
}

.hero--text {
    color: var(--primary-text-color);
    font-size: 1rem;
    margin-top: 0.65rem;
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;
}
.btn-detail {
    cursor: pointer;
    border-radius: 50px;
    padding: 1rem 2.5625rem;
    margin-top: 0.15rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    background-color: var(--tertiary-text-color);
    color: white;
    align-self: center;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 600;   
    letter-spacing: 0.1rem;
}

.hero--image {
    max-width: 80%;
    margin-left: -2rem;
}
.hero--image img {
    max-width: 100%;
    margin-right: auto;
    height: auto;
}

.slide-button {
    margin-top: 7.4rem;
    margin-bottom: 7.8rem;
    text-align: center;
}

.second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    padding: 0rem; /* Adjust or remove padding as needed */
    margin-bottom: 5.35rem;
}

.second-section--subtitle {
    line-height: 1.25rem;
    color: var(--tertiary-text-color);
    font-size: 1rem;
    margin: 0rem;
    font-weight:600;
    max-width: 100%;
}

.second-section--title {
    color: var(--primary-text-color);
    font-size: 2.25rem;
    padding: 0rem 22rem;
    margin-bottom: 1.2rem;
    margin-top: 0.75rem;
    font-weight: 600;
    line-height: 2.8125rem;
}

.second-section--text {
    color: var(--secondary-text-color);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 1rem;
    padding: 0rem 8rem;
    margin: 0rem
}

.cards-section {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    gap: 3.5rem;
    margin-bottom: 8.6rem;

}

.card {
    background-color: white;
    border-radius: 42px;

    /* box-shadow: 
    32px 32px 32px rgba(255, 255, 255, 0.6),
    0px 0px 32px 8px rgba(5, 7, 132, 0.05); */
    box-shadow: 0px 25px 50px 25px rgba(246, 247, 255, 1);

    padding: 2rem;
    padding-top: 3.6875rem;
    padding-bottom: 1.7rem;
    text-align: center;
    flex: 1;
    width: 21.4375rem;
}



.card img {
    max-width: 100%;
    height: auto;

}

.card h3 {
    color: var(--primary-text-color);
    margin-top: 3rem;
    /* margin-bottom: 1rem; */
    font-size: 1.125rem;
    font-weight: 600;
    
}

.card p {
    color: var(--secondary-text-color);
    font-size: 14px;
    letter-spacing: 0.1rem;
    font-weight: 1rem;
    margin-bottom: 2.5rem;
    line-height: 1.3125rem;
    
}


.slide-background-2 {
    position: absolute;
    z-index: -1; 

    top: 1450px;
    max-width: 100vw;
    right: 0;
}

.third-section {
    display: flex;
    justify-content: space-between;
    padding: 0rem;
    margin-top: 8.2rem;
    margin-bottom: 4.45rem;
}

.third-section--content {
    max-width: 60%;
}


.third-section--title {
    color: var(--primary-text-color);
    font-size: 2.25rem;
    margin-top: 0.75rem;
    margin-bottom: 1.2rem;
    font-weight: 600;
    line-height: 45px;
}

.third-section--subtitle {
    color: var(--tertiary-text-color);
    font-size: 1rem;
    margin: 0rem;
    font-weight: 600;
    line-height: 1.25rem;

}
.third-section--text {
    color: var(--secondary-text-color);
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 3.2rem;
    padding-right: 12.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
}
.btn-learnmore {
    border-radius: 50px;
    padding: 1rem 2.88rem;
    margin-top: 0.15rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    background-color: var(--tertiary-text-color);
    color: white;
    align-self: center;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 600;   
    letter-spacing: 0.1rem;
}

.third-section--footer {
    display:flex;
}
.third-section--footer button {
    max-width: 12.5rem;
    letter-spacing: 1.7px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;

}
.third-section---footer--video-btn {
    margin-left: 2.75rem;
    display: flex;
    align-items: center;
}


.third-section---footer--video-btn p{
    margin-left: 1rem;
    font-weight: 600;
    color:var(--secondary-text-color);
    letter-spacing: 0.1rem;
}
.third-section--image {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    margin-right: -4.65rem;
    margin-top: -1.9rem;
    
}

.third-section--image img {
    width: 150%; 
    height: auto;
    margin: 0;  
}


.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0rem;
    margin-bottom: 7.3rem;
}

.fourth-section-content {
    max-width: 800px;
}

.fourth-section--subtitle {
    line-height: 1.25rem;
    color: var(--tertiary-text-color);
    font-size: 1rem;
    margin: 0rem;
    font-weight:600;
    max-width: 100%;
}

.fourth-section--title {
    color: var(--primary-text-color);
    font-size: 2.25rem;
    padding: 0rem 11rem;
    margin-bottom: 1rem;
    margin-top: 0.75rem;
    font-weight: 600;
    line-height: 2.8125rem;
}

.fourth-section--text {
    color: var(--secondary-text-color);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 1rem;
    padding: 0rem;
    margin-top: 1.4rem;

}

.expert-cards-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 0;
    margin-bottom: 8.85rem;
}


.expert-card {
    background-color: white;
    border-radius: 42px;
    padding: 2rem;
    text-align: center;
    flex: 1;
    max-width: 300px;
}

.expert-cards-section .expert-card:hover {
    box-shadow: 0px 25px 50px 25px rgba(246, 247, 255, 1);
    transition: box-shadow 0.3s ease-in-out;
    /* padding-left: 5rem;
    padding-right: 5rem; */
    /* margin: 0rem 3rem; */
    z-index: 1;
}




.expert-card img {
    max-width: 100%;
    height: auto;
    margin-top: 2.5rem;
    margin-bottom: 0rem;
}

.expert-card h2 {
    margin-top: 2.8rem;
    line-height: 1.25rem;
}
.expert-card h3 {
    color: var(--primary-text-color);
    margin-top: 0.9375rem;
    line-height: 1.40625rem;
    font-size: 1.125rem;
    margin-bottom: 1.3rem;
    
}

.expert-card p {
    color: var(--secondary-text-color);
    font-size: 14px;
    letter-spacing: 0.1rem;
    font-weight: 1rem;
    margin-top: 0rem;
    margin-bottom: 2.5rem;

}
.icons{
    margin: 0rem;
    margin-bottom: 2.5rem;
}

.icons img {
    margin-top: 0rem;
    cursor: pointer;
}


.slide-background-3{
    position: absolute;
    z-index: -1; 
    left: 0;
    top: 3140px;
    max-width: 100vw;
}

.contact {
    display: flex;
    align-items: start;
    justify-content: space-between;

}

.contact--image {

    align-self: center;
    max-width: 50%;
}

.contact--image img {
    width: 100%;
    height: auto;
    margin-top: 3rem;
}

.contact--content {
    max-width: 45.5%;
}

.contact--subtitle {
    color: var(--tertiary-text-color);
    font-size: 1rem;
    margin: 0;
    font-weight: 600;
    line-height: 1.25rem;
}

.contact--title {
    color: var(--primary-text-color);
    font-size: 2.25rem;
    margin-bottom: 1.2rem;
    margin-top: 0.75rem;
    font-weight: 600;
    line-height: 45px;
    padding-right: 9rem;
}

.contact--text {
    color: var(--secondary-text-color);
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 2.95rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
}

.inquiry-fields {
    display: flex;
    flex-direction: column;
    gap: 2.395rem;
}

.input-group {
    display: flex;

    justify-content: space-between;
    gap: 2.22375rem;
}

.input-group input {
    width: 100%;
}

/* .input-group input {
    flex: 1;
} */
#inquirylong {
    padding-top: 1.5825rem;
    max-height: 12.25rem;
    height: 12.25rem;
    resize: none;
}
.inquiry-fields input,
.inquiry-fields textarea {

    max-width: 100%;
    padding: 1.1rem 1.5rem;
    max-height: 3.84875rem;
    padding-right: 0;
    border: 1px solid #ccc;
    border-radius: 0.9375rem;
    font-family: 'Poppins', sans-serif;
    color: rgba(197, 197, 197, 1);
    border-color: rgba(217, 221, 254, 1);
    font-weight: 400;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    font-size: 1rem;
}


.inquiry-fields input::placeholder,
.inquiry-fields textarea::placeholder {
    color: rgba(197, 197, 197, 1);
}

.inquiry--btn {
    border-radius: 50px;
    padding: 1.1rem 3.5rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    border: none;
    background-color: var(--tertiary-text-color);
    color: white;
    font-weight: 600;   
    letter-spacing: 0.1rem;
    cursor: pointer;
    align-self: flex-start;
    
}


.slide-background-footer {
    position: relative;
    z-index: -1; 
    transform: scale(1.01);
    width: 100%;
}

.footer {
    display: flex;
    position: relative;
    align-items: start;
    justify-content: space-between;
    margin-top: 17.3rem;
    max-width: 1440px;
    overflow: visible;
}
.footer::before {
    content: '';
    position: absolute;
    padding-top: 100px;

    top: -210px;
    left: -150px;
    width: calc(100% + 300px);
    height: calc(100% + 200px);
    /* background-image: url('../images/image.png');
    background-size:100% auto;
    background-repeat: no-repeat;
    background-position: center; */
    z-index: -1;
}

.footer-bg-container {
    margin-top: -39rem;
    max-width:100%;
    max-width: fit-content;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow: visible;
}
.footer-bg-container img {
    max-width: 100vw;
    height: 100vh;
}



.footer--left {
    margin-top: 2rem;
}

.footer--notes {
    color: rgba(215, 219, 255, 1);
    margin-top: 1.8rem;
    margin-bottom: 0;
}
.footer--notes--wordpress {
    margin-top: 1.8rem;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}
.footer--notes--address {
    color: rgba(215, 219, 255, 1);
    font-style: italic;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    letter-spacing: 0.09rem;
    margin-top: 1.3rem;
    margin-bottom: 0;
}
.footer--notes--contact-info {
    color: rgba(215, 219, 255, 1);
    font-size: italic;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    letter-spacing: 0.1rem;
    margin-top: 0.3rem;

}

.footer--notes--email,
.footer--notes--phone {
    margin-top: 0
}

.footer--notes--email {
    padding-left: 0.9rem;
}



.footer--social-icons {
    margin-top: 9rem;
}

.footer--notes {
    margin-left: 1.9375rem;
}

.footer--notes--contact-info {
    display: flex;
    align-items: start;
    gap: 1.75rem;
}

.footer--right {
    display: flex;
    flex-direction: row;
    gap: 10.8125rem;
    margin-right: 0.5rem;
}

.footer--pages{
    margin-right: 2rem;
}

.footer--pages p,
.footer--informations p{
    
    padding-bottom: 0.55rem;
    color: rgba(255, 255, 255, 1);
    font-size: 1.125rem;
    line-height: 1.6875rem;
    font-weight: 600;
    letter-spacing: 1.6px;
}

.footer--pages ul,
.footer--informations ul
{
    cursor: pointer;
    padding-left:0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.12rem;
    color: rgba(215, 219, 255, 1);
    list-style: none;
}

.footer--pages ul ::before,
.footer--informations ul ::before {
    content: '▸';
    color: rgba(215, 219, 255, 1); 
    margin-right: 0.4rem;
}


.footer--pages ul li,
.footer--informations ul li{
    margin-bottom: 0.6875rem;
}

.footer--copyright {
    margin-top: 7.7rem;
    text-align: right;

    color: rgba(215, 219, 255, 1);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
} 


.scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 70px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--tertiary-text-color);
    color: white;
    font-size: 16px;
    border-radius: 5px;

    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
}

.scrollToTopBtn:hover {

    filter: brightness(90%);
}

.scrollToTopBtn.show {
    display: block;
}

@media (max-width: 1440px) {
    .footer-bg-container {
        max-width:1440px;
    }
    .footer-bg-container img {
        max-width: 1440px;
        height: 100vh;
    }
}

@media (max-width: 1024px) {
    .navbar {
        padding: 1rem 4rem;
        margin-top: 1rem;
    }
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 0rem;
    }
    .hero--content {
        max-width: 100%;
    }
    .hero--image {
        margin-top: 2rem;
        margin-left: 0rem;
        align-self: center;
    }
    .second-section--title {
        padding: 0rem 2rem;
    }
    .cards-section {
        flex-direction: column;
        align-items: center;
    }
    .third-section {
        flex-direction: column;
    }

    .third-section--text {
        padding: 0rem;
    }
    .third-section--image {
        width: 100%;
        justify-content: center;
    }
    .third-section--content {
        max-width: 100%;
    }
    .third-section--footer {
        justify-content: center;
    }
    .expert-cards-section {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .contact {
        flex-direction: column;
        align-items: center;
    }
    .contact--content {
        max-width: 80%;
    }
    .contact--title {
        padding-right: 0rem;
    }
    .fourth-section--title {
        padding: 0rem 1rem;
    }
    .inquiry-fields button {
        align-self: center;
    }

    .footer{
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .footer--right {
        justify-content:space-around;
        align-items: center;
        gap: 2rem;
        
        margin-right: 0rem;
    }
/* 
    .footer-bg-container {
        max-width:100%;
        max-width: fit-content;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        overflow: visible;
    }
    .footer-bg-container img {
        max-width: 100%;
        height: 100vh;
    } */
    


}

@media (max-width: 768px) {
    
    .navbar {
        padding: 1rem 2rem;
    }
    .hero {
        padding: 2rem 2rem;
        margin-top: 0rem;
    }
    .second-section {
        padding: 2rem 2rem;
    }
    .second-section--title {
        padding: 0rem 1rem;
    }
    .second-section--text {
        padding: 0rem;
    }
    .cards-section {
        padding: 2rem 2rem;
        gap: 1rem;
    }
    .third-section {
        padding: 2rem 2rem;
    }
    .footer {
        flex-direction: column;
    }
    .footer--left{
        margin-top: 0;
    }

    .footer--right{
        align-items: start;
    }

    .footer--social-icons {
        margin-top: 1rem;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-self: center;
        justify-self: center;
        text-align: center;
    }
    .footer-bg-container {
        margin-top: -50rem;
    }
    .footer--copyright {
        margin-top: 0rem;
    }
    .footer-bg-container{
        margin-top: -39rem;
    }
}

@media (max-width: 480px) {
    :root {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .navbar {
        padding: 1rem;
    }
    .hero--title {
        font-size: 2rem;
    }
    .hero--text {
        font-size: 0.875rem;
    }
    .btn {
        padding: 0.5rem;
    }
    .second-section {
        padding: 1rem 1rem;
    }
    .second-section--title {
        font-size: 1.5rem;
        padding: 0rem;
    }
    .second-section--text {
        font-size: 0.875rem;
        
    }
    .cards-section {
        padding: 1rem 1rem;
    }
    .card {
        max-width: 100%;
    }
    .third-section {
        padding: 1rem 1rem;
    }
    }
    .third-section--image {
        width: 100%;
        justify-content: center;
    }